.brand {
    color: #2480c5;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
}

.ratting,
.ratting cx-icon,
.ratting .star {
    font-size: 14px;
}

.sku {
    font-size: 14px;
    color: #333;
}