header {
  @media screen and (min-width: 992px) {
    background: #3e3939;
  }
  cx-navigation-ui {
    &.flyout {
      a {
        &:hover {
          color: #ffffff;
        }
      }
      span {
        &:hover {
          color: #ffffff;
        }
      }
    }
  }


  .MiniCart {
    padding: 0 20px;
    img {
      max-width: 25px;
    }
  }
  .SiteContext::after {
    display: none;
  }
  .SiteLinks {
    visibility: hidden;
  }
}

cx-searchbox label input {
  background: #FFF;
  color: #000;
}

.searchbox {

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
  }
}

@media (min-width: 768px) {
  cx-searchbox > * {
    background-color: #fff;
    color: #000;
  }
}

.BottomHeaderSlot {
  max-width: var(--cx-page-width-max);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.SiteLogo {
  img {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .SiteLogo {
    width: 200px;
  }

  .SiteLogin {
    padding: 0;
    a {
        color: #ffffff;

        &:hover {
          color: #fefefe;
        }
      }
  }

  .fa-search:before {
    content: "\f002";
  }

  .SearchBox {
    margin: 10px 55px 0;
    flex: 1;

    label {
      position: relative;

      button.reset,
      button.search {
        display: none;
      }

      input {
        border-radius: 12px;
        box-shadow: none;
        outline: 0;
        border: none;
        padding: 10px 10px 10px 32px;
        width: 70%;
      }

      .search-icon {
        position: absolute;
        top: 10px;
        color: #3e3939;
        left: 10px;
        font-size: 12px;
      }
    }
  }

  label.searchbox {
    border-radius: 18px;
  }

  body.searchbox-is-active.has-searchbox-results label.searchbox {
    border-radius: 18px 18px 0 0;
  }

  cx-searchbox .results {
    color: #333;
    border-radius: 0 0 18px 18px;
  }

  cx-searchbox .results li:last-child a {
    border-radius: 0 0 18px 18px;
  }
}

@media (max-width: 767.98px) {
  cx-searchbox .results .products {
    display: block;
  }
}