/* You can add global styles to this file, and also import other style files */

$styleVersion: 4.3;

$primary: #2bb38a;

@import "~@spartacus/styles/index";

p {
  font-size: 12px;
}

cx-login a {
  color: pink;
  font-weight: 900;
}
